<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="2" name="D:/Selenium Projects/SeleniumFramework">
        <classes>
            <class name="com.facebook.tests.HomePageTest"/>
<!--            <class name="com.facebook.tests.PaymentTest"/>-->
        </classes>
    </test>
</suite>